/* dark theme */

:root {
  --header-bg-color: #222;
  --footer-bg-color: #000;
  --nav-bg-color: #333;
  --nav-fg-color: #fff;
  --nav-bg-hover-color: #444;
  --nav-bg-active-color: #222;
  --nav-bg-current-color: #c15;
  --nav-fg-current-color: #fff;
  --bg-color: #111;
  --fg-color: #fff;
  --link-color: #3bf;
  --link-visit-color: #eaf;
  --link-hover-color: #fff;
  --logo-stroke: #fff;
  --logo-stroke-hh: #f37;
  --focus-outline: #f37;
  
  --headline-fg: #fc7;
  --headline-fg-2: #fb6;
  --subtitle-fg: #ccc;
  --header-fg-color: #fff;
  --header-bg-color: #000;
  --header-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 150'%3E%3Cg fill='%23000'%3E%3Cpath d='M0 0 v50 s100 30 200 0 s100 -30 200 0 v-50z'/%3E%3C/g%3E%3C/svg%3E");
  --footer-bg-color: #000;
  --footer-fg-color: #eee;
  --footer-current-link-color: #f7b;
}

/* light theme */

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: #111;
    --bg-color: #f4f4f4;
    --footer-bg-color: #eee;
    --footer-fg-color: #111111;
    --link-color: #26f;
    --headline-fg: #867;
    --headline-fg-2: #806070;
    --subtitle-fg: #f37;
    --header-fg-color: #777;
    --header-bg-color: #fff;
    --nav-bg-hover-color: #867;
    --nav-bg-hover-color: #978;
    --nav-bg-active-color: #654;
    --header-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 150'%3E%3Cg fill='%23fff'%3E%3Cpath d='M0 0 v50 s100 30 200 0 s100 -30 200 0 v-50z'/%3E%3C/g%3E%3C/svg%3E");  
  }
}