/* dark theme */

:root {

  --rose-1: #fff7f9;
  --rose-2: #ffdce5;
  --rose-3: #ff3b8d;
  --rose-4: #db0072;
  --rose-5: #800040;
  --rose-6: #4c0023;
  
  --gray-1: #f6f6f6;
  --gray-2: #e2e2e2;
  --gray-3: #8b8b8b;
  --gray-4: #6f6f6f;
  --gray-5: #3e3e3e;
  --gray-6: #222222;

  --zimt-1: #fff8f3;
  --zimt-2: #ffdfc6;
  --zimt-3: #d57300;
  --zimt-4: #ac5c00;
  --zimt-5: #633300;
  --zimt-6: #371d00;
/*
  --sky-1: #e3f7ff;
  --sky-2: #aee9ff;
  --sky-3: #0094b4;
  --sky-4: #007590;
  --sky-5: #00404f;
  --sky-6: #001f28;
*/
  --sky-1: #e8f2ff;
  --sky-2: #c6e0ff;
  --sky-3: #008fdb;
  --sky-4: #0071af;
  --sky-5: #003b5e;
  --sky-6: #001c30;

  --header-bg: var(--sky-5);
  --header-fg: #fff;
  --footer-bg: #000;
  --button-bg: var(--gray-5);

  --button-fg: #fff;
  --button-bg--hover-color: var(--rose-5);
  --button-bg--active: var(--rose-6);
  --button-bg--focus: var(--rose-5);
  --button-bg--current: var(--rose-4);
  --button-fg--current: #fff;
  --bg: var(--gray-6);
  --fg: #fff;
  --link-color: var(--sky-2);
  --link-visit-color: var(--rose-2);
  --link-hover-color: #fff;
  --logo-stroke: #fff;
  --logo-stroke-hh: var(--rose-2);
  --focus-outline: #f37;
  
  --headline-fg: var(--zimt-2);
  --headline-fg-2: var(--rose-2);
  --subtitle-fg: #ccc;
  --header-fg: #fff;
  
  --footer-bg: #000;
  --footer-fg: #eee;
  --footer-current-link-color: #f7b;
  --card-bg: #000;
  --card-fg: #fff;
  --card-header-bg: var(--rose-4);
  --card-header-fg: #fff;
}

/* light theme */

@media (prefers-color-scheme: light) {
  :root {
    --fg: #111;
    --bg: #f4f4f4;
    --card-bg: #fff;
    --card-fg: #000;
    --card-header-bg: var(--rose-2);
    --card-header-fg: var(--rose-6);
    --footer-bg: #eee;
    --footer-fg: #111111;
    --link-color: #26f;
    --headline-fg: var(--zimt-5);
    --headline-fg-2: var(--rose-5);
    --subtitle-fg: #f37;
    --header-fg: #fff;
    --header-bg: var(--sky-5);

    --button-bg: #fff;
    --button-fg: #000;
    --button-bg--hover-color: var(--rose-1);
    --button-bg--active: var(--rose-3);
    --button-bg--focus: var(--rose-2);
    --button-bg--current: var(--rose-5);
    --button-fg--current: #fff;

    --footer-current-link-color: #f15;
    --logo-stroke: #fff;
    --logo-stroke-hh: var(--rose-2);
  }
}