<footer class="footer">
  <p>made with <span aria-label="love" role="img">💖</span> by <a rel="me" href="https://lea.lgbt/@lea">Lea Rosema</a></p>
  <nav class="footer-nav" id="footer-nav" aria-label="Footer navigation">
    <ul>
    {% for item in footer.items %}
      <li>
        <a href="{{ meta.url }}{{ item.href }}" {{ helpers.getLinkActiveState(item.href, page.url) | safe }}>{{ item.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
</footer>