<header class="header">
  <div class="header__clip">
    <a class="logo" href="{{ site.url }}/">
      {% include 'logo.svg' %}
      <span class="visually-hidden">logo</span>
    </a>
  </div>
</header>