/* button reset */
button {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  border: 0;
  padding: 0;
}

button,
.button {
  font-size: 1.25rem;
  background: var(--button-bg);
  color: var(--button-fg);
  text-decoration: none;
  padding: 1rem 2rem; 
  border-radius: .5rem;
  box-shadow: 0 0 20px #0007;
}

button:active,
.button:active {
  background: var(--button-bg--active);
}

button:focus,
.button:focus {
  background: var(--button-bg--focus);
}

button:hover,
.button:hover {
  background: var(--button-bg--hover-color);
}

a.button[aria-current="page"] {
  background: var(--button-bg--current);
  color: var(--button-fg--current);
  text-decoration: underline;
}
