.logo {
  display: block;
  color: inherit;
  width: max(50vmin, 300px);
  filter: drop-shadow(0 0 8px #fff);
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__hh {
  color: var(--logo-stroke-hh);
}
