.logo {
  display: block;
  color: var(--logo-stroke);
  width: min(100%, 300px);
  filter: drop-shadow(0 0 8px #fff);
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__hh {
  color: var(--logo-stroke-hh);
}
