
/* navigation */

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem;
}

.topnav ul {
  justify-content: flex-end;
}

.topnav li {
  display: block;
  margin-block-end: 1.75rem;
}

.topnav li + li {
  margin-inline-start: .5rem;
}
