<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
  <meta name="description" content="{{ description }}">
  <title>
    {{ title }} | {{ site.name }}
  </title>
  <style>
    {% include 'css/index.css' %}
  </style>  
</head>
<body>
  {% include 'partials/header.njk' %}
  {% include 'partials/navigation.njk' %}
  <main id="main-content" tabindex="-1">
    <article class="flow">
      {{ content | safe }}
    </article>
  </main>
  {% include 'partials/footer.njk' %}
</body>
</html>