<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/styles.css">
  <title>
    {{ title }} | {{ site.name }}
  </title>
</head>
<body>
  {% include 'skip-link.njk' %}
  {% include 'header.njk' %}
  {% include 'navigation.njk' %}
  <main id="main-content" tabindex="-1">
    <article class="flow">
      {{ content | safe }}
    </article>
  </main>
  {% include 'footer.njk' %}
</body>
</html>