<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  {% include "meta.njk" %}
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% include 'skip-link.njk' %}
  {% include 'header.njk' %}
  {% include 'navigation.njk' %}
  <main id="main-content" tabindex="-1">
    <article class="flow">
      {{ content | safe }}
    </article>
  </main>
  {% include 'footer.njk' %}
</body>
</html>